body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 20px;
  text-align: center;
}

p {
  text-align: center;
  display: block;
  padding: 0px 100px;
  line-height: 1.5;
}

img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.contact {
  display: flex;
  justify-content: center;
}
